thead {
	background-color: #f2f2f2;
}

#buscador {
	margin-top: 10px;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #ddd;
	border-radius: 50px;
    background-image:url(../imgs/ico_search.png);
}

#header {
    background-color: #010646;
    height: 60px;
}

#titulo {
	font-size: 20px;
	padding: 15px 15px;
    color: #fff;
}

.subtitulo {
	font-size: 20px;
	color: #010646;
}

.alinearDerecha {
	text-align: right;
}

.alinearIzquierda {
	text-align: left;
}