<div class="row alinearDerecha">
	<img src="imgs/ico_search.png" width="20px" height="20px">
	<input id="buscador" type="text" placeholder="Buscar por nombre" ng-model="filtroBusqueda">		
</div>

<div class="row">
	<div class="col-lg-12 col-sm-12">
	<p class="subtitulo">Empresas</p>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="alinearIzquierda">Nombre de Empresa</th>
						<th class="alinearDerecha">Ubicacion</th>						
					</tr>
				</thead>
				<tbody ng-repeat="compania in companiasToFilter() | filter:{compania: compania.name} | filter:filtroBusqueda">
					<tr ng-click="mostrar($index)">
						<div id="resultado">
							<td class="alinearIzquierda">{{compania.name}}</td>

							<td class="alinearDerecha">
								<div ng-repeat="c in compania.offices">
									<div>{{c.address}}</div>
								</div>
							</td>
						</div>
					</tr>
				</tbody>
			</table>
		</div> 
	</div>
</div>

<div class="row" style="margin-right: 15px; margin-left: 15px">
	<div class="col-lg-12 " ng-repeat="compania in companias.result.companies" ng-show="mostrando[indice]" ng-init="indice=$index" >
		<div class="row">
			<p class="subtitulo">Datos de la Empresa <img src="imgs/ico_company.png" width="30" height="20"></p>
			<div class="col-lg-12">
				<div ng-repeat="c in compania.offices">
					<div class="col-lg-4" >
						<p><strong>Nombre: </strong>{{compania.name}}</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Telefono: </strong>{{c.phone}}</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Pais: </strong>{{c.address}}</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Direccion: </strong>{{c.address}}</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="row" ng-init="traerProductosCompania(compania.id,indice)">
			<p class="subtitulo">Productos <img src="imgs/ico_products.png" width="20" height="20"></p>
			<div class="col-lg-12" ng-repeat="producto in productos[indice].result.productos">
				<div class="col-lg-12">
					<p><strong>Producto {{producto.id}}: </strong>{{producto.name}}</p>
				</div>												
			</div>
		</div>
		<br>
		<div class="row" ng-init="traerClientesCompania(compania.id,indice)">
			<p class="subtitulo">Clientes <img src="imgs/ico_clients.png" width="20" height="20"></p>
			<div class="col-lg-12 col-sm-6" ng-repeat="cliente in clientes[indice].result.clients">
				<div ng-repeat="c1 in cliente.offices">
					<div class="col-lg-4">
						<p><strong>Nombre: </strong>{{cliente.name}}</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Telefono: </strong>{{c1.phone}}</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Pais: </strong>{{c1.country}}</p>
					</div>
					<div class="col-lg-4">
						<p><strong>Direccion: </strong>{{c1.address}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>